        <div class="d-xs-block d-sm-none">
            <div class="beauty_mobile_box__img">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561387952/Portfolio%20Adflix/Projects/Player_destructionBefore.png" alt="">
            </div>
            <div class="beauty_mobile_box__img_content">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561388035/Portfolio%20Adflix/Projects/ezgif.com-crop.png" alt="">
            </div>
        </div>

        <div class="d-none d-sm-block d-md-none">
            <div class="beauty_mobile_box__img">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561387952/Portfolio%20Adflix/Projects/Player_destructionBefore.png" alt="">
            </div>
            <div class="beauty_mobile_box__img_content">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561388035/Portfolio%20Adflix/Projects/ezgif.com-crop.png" alt="">
            </div>
         </div>


        <div class="d-none d-md-block d-lg-none">
            <div class="beauty_mobile_box__img">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561387952/Portfolio%20Adflix/Projects/Player_destructionBefore.png" alt="">
            </div>
            <div class="beauty_mobile_box__img_content">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561388035/Portfolio%20Adflix/Projects/ezgif.com-crop.png" alt="">
            </div>
        </div>

        <div class="d-none d-lg-block">
            <div class="beauty_mobile_box__img">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561387952/Portfolio%20Adflix/Projects/Player_destructionBefore.png" alt="">
            </div>
            <div class="beauty_mobile_box__img_content">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561388035/Portfolio%20Adflix/Projects/ezgif.com-crop.png" alt="">
            </div>
        </div>
        

        


