<div class="owl-carousel owl-theme categories_carousel">
    <div class="item">
        <div class=" imgBx">
            <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561127698/Portfolio%20Adflix/Projects/adstreamHome.png" alt="homepage" class="img-fluid">
        </div>
        <div class="content">
            <h3>Categories<br><span>All content</span></h3>
        </div>
    </div>

    <div class="item">
        <div class="imgBx">
            <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561128285/Portfolio%20Adflix/Projects/adstreamMovies.png" alt="homepage" class="img-fluid">
        </div>   
        <div class="content">
            <h3>Categories<br><span>Movies</span></h3>
        </div>
    </div>

    <div class="item">
        <div class="imgBx">
            <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561128284/Portfolio%20Adflix/Projects/adstreamSeries.png" alt="homepage" class="img-fluid">
        </div> 
        <div class="content">
            <h3>Categories<br><span>Series</span></h3>
        </div>    
    </div>
</div>