<div class="owl-carousel owl-theme details_carousel">
    <div class="item">
        <div class="imgBx">
            <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561334826/Portfolio%20Adflix/Projects/Details_carousel-1.png" alt="homepage" class="img-fluid">
        </div>
        <div class="content">
            <h3>Details<br><span>Most relevant information</span></h3>
        </div>
    </div>
    <div class="item">
        <div class=" imgBx">
            <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561334826/Portfolio%20Adflix/Projects/Details_carousel-2.png" alt="homepage" class="img-fluid">
        </div>  
        <div class="content">
            <h3>Details<br><span>Trailer</span></h3>
        </div> 
    </div>

    <div class="item">
        <div class="imgBx">
            <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1561334826/Portfolio%20Adflix/Projects/Details_carousel-3.png" alt="homepage" class="img-fluid">
        </div> 
        <div class="content">
            <h3>Details<br><span>Similar Content</span></h3>
        </div> 
    </div>
</div>