<footer>
    <div class="container">
        <div  class="row">
            <div class="col-sm-12">
                <ul class="sci">
                    <li>
                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/in/j%25C3%25A9r%25C3%25A9my-adeler-entrepreneur/&title=&summary=&source=" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/home?status=https%3A//adelerjeremy.herokuapp.com" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//adelerjeremy.herokuapp.com" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>             
                    </li>
                </ul>
                <p class="cpryt">                   
                    © Copyright 2019 Adstream | streaming mobile app by <a href="/">Adflix</a>
                </p> 
            </div>
        </div>
    </div>
</footer>