<body class="pt-page-moveFromRight">
<section  class="overview">
    <div class="{{hero}}">
        <div class="col-12 pt-4 small_icons">
            <a href="/"><i class="fas fa-arrow-left"></i></a>
        </div>
    </div>