<section class="block_bottom ">
    <div class="col-12 title_bottom2 pt-page-moveFromRight">
        <h4>{{content.en.titleCaroussel.textTitleCaroussel1}}</h4>
    </div>



    <div class="owl-carousel owl-theme pt-page-moveFromRight">
        <div class="item">
            <div class="lite_poster ">
                <a href="/soon">
                    <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629085/Portfolio%20Adflix/poster16OR2.jpg" alt="poster">
                </a>
                <div class="details_lite_soon2">
                    <!-- <h2>PROCHAINEMENT <sup> EndGame</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/form">
                    <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629117/Portfolio%20Adflix/poster13OR3.jpg" alt="poster">
                </a>        
                <div class="details_lite_form">
                    <!-- <h2>FORMATION <sup>DEV</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/stages">
                    <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629127/Portfolio%20Adflix/poster14OR.jpg" alt="poster">
                </a>
                <div class="details_lite_stage">
                    <!-- <h2>STAGES <sup> Netflix</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/formsecond">
                    <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629122/Portfolio%20Adflix/poster15OR3.jpg" alt="poster">
                </a>
                <div class="details_lite_form02">
                    <!-- <h2>FORMATION <sup>Start</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster ">
                <a href="/profile">
                    <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629081/Portfolio%20Adflix/poster18OR1.jpg" alt="poster">
                </a>
                <div class="details_lite">
                    <!-- <h2>PROFIL</h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/expfirst">
                    <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629099/Portfolio%20Adflix/poster5OR.jpg" alt="poster">
                </a>
                <div class="details2_lite">
                    <!-- <h2>EXPÉRIENCES <sup>I</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/expreturn">
                    <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629095/Portfolio%20Adflix/poster6OR2.jpg" alt="poster">
                </a>
                <div class="details3_lite">
                    <!-- <h2>EXPÉRIENCES <sup>Return</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/expgenesis">
                    <img class="adOriginal" src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629070/Portfolio%20Adflix/adflixoriginalwhitered.png" alt="text image">
                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629105/Portfolio%20Adflix/poster10OR.jpg" alt="poster">
                </a>
                <div class="details4_lite">
                    <!-- <h2>EXPÉRIENCES <sup> Genesis</sup></h2> -->
                </div>
            </div>
        </div>               
    </div>
</section>