<section class="block_bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 title_bottom pt-page-moveFromRight pt-page-delay300">
                <p> <span>{{content.en.titleCaroussel.textTitleCaroussel1}}</span> </p>
            </div>
        </div>
    </div>


    <div class="owl-carousel owl-theme pt-page-moveFromRight pt-page-delay700">
        <div class="item">
            <div class="lite_poster ">
                <a href="/soon">
                    <img class="adOriginal" src="img/adflixoriginalwhitered.png" alt="text image">
                    <img src="img/poster16OR2.jpg" alt="poster">
                </a>
                <div class="details_lite_soon2">
                    <!-- <h2>PROCHAINEMENT <sup> EndGame</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/form">
                    <img class="adOriginal" src="img/adflixoriginalwhitered.png" alt="text image">
                    <img src="img/poster13OR3.jpg" alt="poster">
                </a>        
                <div class="details_lite_form">
                    <!-- <h2>FORMATION <sup>DEV</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/stages">
                    <img class="adOriginal" src="img/adflixoriginalwhitered.png" alt="text image">
                    <img src="img/poster14OR.jpg" alt="poster">
                </a>
                <div class="details_lite_stage">
                    <!-- <h2>STAGES <sup> Netflix</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/formsecond">
                    <img class="adOriginal" src="img/adflixoriginalwhitered.png" alt="text image">
                    <img src="img/poster15OR3.jpg" alt="poster">
                </a>
                <div class="details_lite_form02">
                    <!-- <h2>FORMATION <sup>Start</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster ">
                <a href="/profil">
                    <img class="adOriginal" src="img/adflixoriginalwhitered.png" alt="text image">
                    <img src="img/poster18OR1.jpg" alt="poster">
                </a>
                <div class="details_lite">
                    <!-- <h2>PROFIL</h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/expfirst">
                    <img class="adOriginal" src="img/adflixoriginalwhitered.png" alt="text image">
                    <img src="img/poster5OR.jpg" alt="poster">
                </a>
                <div class="details2_lite">
                    <!-- <h2>EXPÉRIENCES <sup>I</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/expreturn">
                    <img class="adOriginal" src="img/adflixoriginalwhitered.png" alt="text image">
                    <img src="img/poster6OR2.jpg" alt="poster">
                </a>
                <div class="details3_lite">
                    <!-- <h2>EXPÉRIENCES <sup>Return</sup></h2> -->
                </div>
            </div>
        </div>

        <div class="item">
            <div class="lite_poster">
                <a href="/expgenesis">
                    <img class="adOriginal" src="img/adflixoriginalwhitered.png" alt="text image">
                    <img src="img/poster10OR.jpg" alt="poster">
                </a>
                <div class="details4_lite">
                    <!-- <h2>EXPÉRIENCES <sup> Genesis</sup></h2> -->
                </div>
            </div>
        </div>               
    </div>
</section>
</section>