            <!---------------PROGRAMMES ORIGINAUX ADFLIX-------------------->
            
               <section class="block_bottom_long ">

                            <div class="col-12 title_bottom2 pt-page-moveFromLeft pt-page-delay300">
                                <h4 class="title_spe">{{content.en.titleCaroussel.textTitleCaroussel2}}</h4>
                            </div>

            
                    <div class="owl-carousel owl-theme pt-page-moveFromLeft">
                        <div class="item mod_long">
                            <div class="">
                                <a href="soon.html">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629251/Portfolio%20Adflix/poster14OR2.jpg" alt="poster">
                                    </a>
                                <div class="details_lite_soon2">
                                    <!-- <h2>CREATION</h2> -->
                                </div>
                            </div>
                        </div>
            
                        <div class="item">
                            <div class="">
                                <a href="form.html">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629259/Portfolio%20Adflix/poster24OR2.jpg" alt="poster">
                                </a>        
                                <div class="details_lite_form">
                                    <!-- <h2>PROJET</h2> -->
                                </div>
                            </div>
                        </div>
            
                        <div class="item">
                            <div class="">
                                <a href="stages.html">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629261/Portfolio%20Adflix/poster7OR.jpg" alt="poster">
                                </a>
                                <div class="details_lite_stage">
                                    <!-- <h2>DESIGN</h2> -->
                                </div>
                            </div>
                        </div>
            
                        <div class="item">
                            <div class="">
                                <a href="form2.html">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629253/Portfolio%20Adflix/poster11OR.jpg" alt="poster">
                                </a>
                                <div class="details_lite_form02">
                                    <!-- <h2>PLAYER</h2> -->
                                </div>
                            </div>
                        </div>
            
                        <div class="item">
                            <div class="">
                                <a href="profil.html">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629259/Portfolio%20Adflix/poster12OR.jpg" alt="poster">
                                </a>
                                <div class="details_lite">
                                     <!-- <h2>CHALLENGE</h2> -->
                                </div>
                            </div>
                        </div>
            
                        <div class="item">
                            <div class="">
                                <a href="expFirst.html">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629260/Portfolio%20Adflix/poster19OR.jpg" alt="poster">
                                </a>
                                <div class="details2_lite">
                                     <!-- <h2>secret</h2> -->
                                </div>
                            </div>
                        </div>
            
                        <div class="item">
                            <div class="">
                                <a href="expSecond.html">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629260/Portfolio%20Adflix/poster29OR2.jpg" alt="poster">
                                </a>
                                <div class="details3_lite">
                                     <!-- <h2>LIFESTYLE</h2> -->
                                </div>
                            </div>
                        </div> 
                        <div class="item">
                            <div class="">
                                <a href="expSecond.html">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629257/Portfolio%20Adflix/poster26OR.jpg" alt="poster">
                                </a>
                                <div class="details3_lite">
                                    <!-- <h2>SOON</h2> -->
                                </div>
                            </div>
                        </div>               
                    </div>
            </section>