{{> header}}

<div class="body__projects">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center header__title__projects">
                <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1560516818/Portfolio%20Adflix/Projects/projects_title-3_normal.png" alt="title">
            </div>

            <div class="col-12 description__projects">
                <p>Bienvenue sur mes projets en cours ou finaliser.<p>
                <p>Afin de pouvoir mesurer ma progression objectivement. N'hésitez pas à me faire des suggestions, points d'améliorations et critique constructive en tout genres.</p>
                <p>Un projet vous intrigue? Cliquer dessus vous serez surpris.</p>
            </div>

<!------------------------------------->
<!-----[ B O X : A D S T R E A M ]----->
<!------------------------------------->
            <div class="col-12  pt-4">
                <div class="box__adflix-mobile">

                    <a href="/projects/adstream">
                        <div class="box__card__adflix-mobile">

                            <div class="col-6">
                                <div class="box__card__img__adflix-mobile">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1560509919/Portfolio%20Adflix/Projects/creation_adStream_card_3d_shadow-nice.png" alt="3D">

                                </div>
                            </div>

                            <div class="col-6">
                                <div class="box__card__content__adflix-mobile pt-2">
                                    <h4 class="text-center">AdStream</h4>
                                    <p class="pt-1">Application mobile qui vous permet de regarder vos films et séries favoris. Inspiré par <em>Netflix</em>.</p>
                                </div>
                            </div>

                        </div>
                    </a>

                </div>
            </div>

<!------------------------------------->
<!-------[ B O X : B E A T S Y ]------->
<!------------------------------------->

            <div class="col-12  pt-4">
                <div class="box__beatsy">

                    <a href="/projects/beatsy">
                        <div class="box__card__beatsy">

                            <div class="col-6">
                                <div class="box__card__img__beatsy">
                                    <img src="https://res.cloudinary.com/dfc5jnbxg/image/upload/v1560773548/Portfolio%20Adflix/Projects/projects_beatsy_finale.png" alt="3D">

                                </div>
                            </div>

                            <div class="col-6">
                                <div class="box__card__content__beatsy pt-1">
                                    <h4 class="text-center">Beatsy</h4>
                                    <p>Application web qui vous permet de composer votre musique à l'aide d'un trackpad numérique.</p>
                                </div>
                            </div>

                        </div>
                    </a>

                </div>
            </div>


        </div>
    </div>
</div>