{{> header}}
<!-----------------------CENTER--------------------------------->

    <div class="container block_center block_center_spe">
        <div class="row">

            <div class="col-md-6 col-lg-4 d-none d-md-block hero_min hero_min_spe">
                
                <div class="card">
                    <div class="poster">
                        <img src="/img/poster16OR2.jpg" alt="alien affiche">
                    </div>
                    <div class="adflix">
                        <img src="/img/adflixoriginalwhitered.png" alt="adlfix original">
                    </div>
                    <div class="detailssoon">
                           
                    </div>
                </div>
            </div>

<!----------------------------INFO------------------------------------->


                  <div class="col-12 col-md-6 offset-lg-5 col-lg-8 info info_spe">
                        <div class="d-md-none ">
                            <h3>{{content.en.title}} <sup> EndGame</sup></h3>
                            <h5>Directed by Adeler Jérémy</h5>               
                        </div>
                        <div class="pt-2"><h2>{{content.en.title2}}</h2> </div>

                    </div>

                    <div class="d-md-none d-lg-block block_3_icons pl-5 pb-5  pl-lg-5 pt-lg-5 pb-lg-4">             

                        <div class="middle_spe pt-lg-4 pb-5 pl-lg-5 pt-page-moveFromRight pt-page-delay200">
                            <a class="btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//adelerjeremy.com" target="_blank">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn" href="https://twitter.com/home?status=https%3A//adelerjeremy.com" target="_blank">
                              <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/in/j%25C3%25A9r%25C3%25A9my-adeler-entrepreneur/&title=&summary=&source=" target="_blank">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn" href="/contact">
                                <i class="fas fa-envelope"></i>
                            </a>
                          </div>
                    </div> 
                </div>
             <div class="col-12">
            <div class="d-none d-md-block d-lg-none pt-md-5 pb-md-4 modeMd">             
                <div class="middle_spe  pt-md-5 pb-md-5 pt-page-moveFromRight pt-page-delay200">
                    <a class="btn" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//adelerjeremy.com" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn" href="https://twitter.com/home?status=https%3A//adelerjeremy.com" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn" href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.linkedin.com/in/j%25C3%25A9r%25C3%25A9my-adeler-entrepreneur/&title=&summary=&source=" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn" href="/contact">
                        <i class="fas fa-envelope"></i>
                    </a>
                </div>
            </div> 
        </div> 
    </div> <!--./ROW-->
</div> <!--./CONTAINER-->
{{> liteCard }}
