/*----------------------------------------------------------------------------------*/
/**-------------------[ R E S P O N S I V E : P R O J E C T S ]--------------------*/
/*--------------------------------------------------------------------------------*/



/*--------------------------------------*/
/*----------[ A D S T R E A M ]---------*/
/*--------------------------------------*/
@media (max-width: 460px) {
    .player__title-block {
        padding-top:0;
    }
    .headerText h1 {
        font-size: 1.75rem;
    }
    .headerText p {
        font-size: 1rem;
    }
    /*--------------[ S E C T I O N : B E A U T Y ]-------------*/
    .beauty_mobile_box__img{
        position: relative;
        right: 14rem;
    }
    .beauty_mobile_box__img img{
        width:600px;
        z-index: 20;
    }
    
    
    .beauty_mobile_box__img_content{
        position: absolute;
        top: 1rem;
        left: 19rem;
    
    }
    .beauty_mobile_box__img_content img {
        width: 15rem;
        height: 100%;
        border-radius: 0 56px 12px 0; 
        z-index: 12;
    } 
    
    .beauty_mobile{
        /* position: relative; */
        width:600px;
        height:100%;
        border-radius: 0 10px 10px 0; 
        background: none; 
    
    }
    .beauty_mobile::after{
        /* z-index:1; */
        filter: blur(15px);
    }

    @keyframes animate 
{
    0%
    {
        background-position: 0 0;
        filter: blur(30px);
     
    }
    50%
    {
        background-position: 150% 0;
        filter: blur(50px);
        /* z-index:2; */
    }
    100%
    {
        background-position: 0 0;
        filter: blur(15px);
    
    }

}
}

@media (min-width: 576px) {

}

@media (min-width:768px){
     /*--------------[ S E C T I O N : B E A U T Y ]-------------*/
     .beauty_mobile_box__img{
        position: relative;
        right: 16rem;
    }
    .beauty_mobile_box__img img{
        width:1000px;
        z-index: 20;
    }
    
    .beauty_mobile_box__img_content{
        position: absolute;
        top: 1.7rem;
        left: 31.8rem;
    
    }
    .beauty_mobile_box__img_content img {
        width: 25rem;
        height: 100%;
        border-radius: 0 56px 12px 0; 
        z-index: 12;
    } 
    
    .beauty_mobile{
        /* position: relative; */
        width:1000px;
        height:100%;
        border-radius: 0 10px 10px 0; 
        background: none; 
    
    }
    .beauty_mobile::after{
        /* z-index:1; */
        filter: blur(15px);
    }

        @keyframes animate 
    {
        0%
        {
            background-position: 0 0;
            filter: blur(30px);
        
        }
        50%
        {
            background-position: 200% 0;
            filter: blur(50px);
            /* z-index:2; */
        }
        100%
        {
            background-position: 0 0;
            filter: blur(15px);
        
        }

    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }  
    .contentBox h1 {
        font-size: 3rem;
    }
    .contentBox p  {
        font-size: 1.25rem;
    }
    .headerText h1 {
        font-size: 2rem;
    }

}

@media (max-width: 991.98px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    } 

    .banner {
        min-height: 100vh;
        padding: 100px 0;
    }


    .contentBoxPosters h1,
    .sec2 h1 {
        font-size: 2rem;
    }

    .blogpost .imgBx{
        height: 200px;
    }

    .contact .form-control {
        height: 40px;
        border: 1px solid #fafafa80;
    }
    .btnD1 {
        padding:10px 40px;
        margin-top: 10px;
    }
    footer {
        padding: 0 0 20px;
    }
    .sci li {
        margin: 0 10px;
        font-size: 1.5rem;
    }
    /* .sec2 {
        height: auto;
        padding: 40px 0;
    } */


}
@media (min-width:993px){
    .contentBoxPosters h1,
    .headerText h1 {
        font-size: 3rem;
    }
    .contentBoxPosters p,
    .headerText p {
        font-size: 1.25rem;
    }
}

@media (min-width:1200px){
    .contentBox h1 {
        font-size: 4rem;
    }
    .contentBox p,
    .contentBoxPosters p,
    .headerText p  {
        font-size: 1.5rem;
    }
    .contentBoxPosters h1,
    .headerText h1 {
        font-size: 3.5rem;
    }
         /*--------------[ S E C T I O N : B E A U T Y ]-------------*/
         .beauty_mobile_box__img{
            position: relative;
            right: 22rem;
        }
        .beauty_mobile_box__img img{
            width:1200px;
            z-index: 20;
        }
        
        .beauty_mobile_box__img_content{
            position: absolute;
            top: 2rem;
            left: 38rem;
        
        }
        .beauty_mobile_box__img_content img {
            width: 30rem;
            height: 100%;
            border-radius: 0 56px 12px 0; 
            z-index: 12;
        } 
        
        .beauty_mobile{
            /* position: relative; */
            width:1200px;
            height:100%;
            border-radius: 0 10px 10px 0; 
            background: none; 
        
        }
        .beauty_mobile::after{
            /* z-index:1; */
            filter: blur(15px);
        }
    
            @keyframes animate 
        {
            0%
            {
                background-position: 0 0;
                filter: blur(30px);
            
            }
            50%
            {
                background-position: 200% 0;
                filter: blur(50px);
                /* z-index:2; */
            }
            100%
            {
                background-position: 0 0;
                filter: blur(15px);
            
            }
    
        }

}
