/*----------------------------*/
/**---------RESPONSIVE SOON---------*/
/*----------------------------*/

@media (min-width:500px){


}

@media (min-width:576px){


}

@media (min-width:768px){
    .herosoon{
        background-image:linear-gradient(rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 8)),
        url('https://res.cloudinary.com/dfc5jnbxg/image/upload/v1553629905/Portfolio%20Adflix/poster15.1.jpg'); 
        background-position: center center;
        background-size: 100%; 
    }

    .block_center{
        position: relative;
        bottom: 5em;
    }

    .block_md_3_icons{
        position: relative;
        top:50%;
    }

    .block_center_spe{
        padding-bottom: 18vh;
    }

  
}


@media (min-width:992px){
    .block_center_spe{
        padding-bottom: 8vh;
    }



}

@media (min-width:1200px){

}


@media (min-width:1600px){


}