
/*--------------*/
/*---CARD---*/
/*--------------*/

.card{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:380px;
    height:460px;
    background: #000;
    overflow: hidden;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    box-shadow:0 5px 10px rgba(0,0,0,0.5);
    transition: 0.5s;
}


/* .card:hover{
transform: scale(1.1);
} */


.card .poster{
    position: relative;
    overflow:hidden;
}

.card .poster::before{
    content:'';
    position: absolute;
    bottom:-365px;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(0deg,#000 50%,transparent);
    transition:0.5s;
    z-index:1;
}

.card:hover .poster::before{
    bottom: 0;  
}

.card .poster img{
    width:100%;
    transition: 0.5s;
}

.card:hover .poster img {
    filter: blur(5px);
    transform: translateY(-50px);
}

.adflix img{
    position: absolute;
    top:15px;
    left:20px;
    width:30%;
}

.card:hover .adflix img{
    filter: blur(5px);
    transform: translateY(-2px);
}

.details{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom:-186px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}

.card:hover .details{
    bottom:0px;
}
/*----Titre CARD------*/

.details img{
    width:60%;
    padding-bottom:0.5em;
}
.details2 img, .details3 img, .details4 img,
.detailsform img,.detailsform02 img, .detailsstage img{
    width:65%;
    padding-bottom:0.5em;
}

/*---------------------*/
.detailscardlong{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom:-348px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}

.card:hover .detailscardlong{
    bottom:165px;

}
.detailscardlong h2{
    color:#fff;
    margin:0;
    padding:0;
    font-weight: 600;
}

.details h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
    font-weight: 500;
}

.details h2 span{
    color:#5fb950;
    font-size:20px;
}

.rating{
    position:relative;
    padding:5px 0;
}

.rating .fa-star, .fa-star-half-alt{
   
    margin-right: 2px;
    font-size:16px;
    transition: 0.3s; 
}

.rating .fa-star:hover, .rating .fa-star-half-alt:hover{
    transform: scale(1.3);
}

.rating span{
    color:#fff;
    padding:0 5px;
}

.tags{
   position: relative;
   margin-top: 5px; 
}

.tags span{
    padding: 2px 5px;
    margin-right:2px;
    font-weight:700;
    color:#fff;
    display: inline-block;
    border-radius:5px;
    transition: 0.3s; 
}

.tags span:hover{
    transform: scale(1.15);
    margin: 0 10px;
}

.tags span.fantasy{
    background:#025535;
}

.tags span.romance{
    background:#f77a06;   
}

.info{
    color:#fff;
}

.info p{
    margin: 15px 0 10px;
}

.info span{
    font-weight:600;
    color: #5fb950;
}


.info ul li{
    position: relative;
    right:40px;
    list-style:none;
    padding: 1px 0;
}

.star h4{
    margin: 0;
    padding: 0;
    font-size: 20px;   
}

.star ul{
    margin:10px 0 0;
    padding:0;
    display: flex;
}

.star ul li{
   list-style:none;
   width: 50px;
   height:50px;
   background: #fff;
   border-radius:50%;
   overflow:hidden;
   margin-right:6px;
   border:2px solid #fff;
   transition: 0.3s; 
}
.star ul li:hover{
    transform: scale(1.20);
}

.star ul li img{
    width:100%;
    height:100%;
    transition: 0.5s;
}
.star ul li img:hover{
    transform:scale(1.3);

}

/*-----------CARD 2------------*/
.details2{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom:-180px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}
.card:hover .details2{
    bottom:0px;
}

.details2 h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}


.details2 h2 span{
    color:#5fb950;
    font-size:20px;
}

.tags span.fantasy2{
    background:#eb0000; 
}

.tags span.romance2{
    background:#ffbe31; 
}

/*-----------CARD 3------------*/

.details3{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom:-180px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}
.card:hover .details3{
    bottom:0px;
}
.details3 h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}


.details3 h2 span{
    color:#5fb950;
    font-size:20px;
}

.tags span.fantasy3{
    background:#f77a06; 
}

.tags span.romance3{
    background:#ffbe31; 
}

.tags span.passion3{
    background:#eb0000; 
}

/*-----------CARD 4------------*/

.details4{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom:-180px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}
.card:hover .details4{
    bottom:0px;
}
.details4 h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}


.details4 h2 span{
    color:#5fb950;
    font-size:20px;
}

.tags span.fantasy4{
    background:#eb0000; 
}

.tags span.passion4{
    background:#025535; 
}

/**------------FORM 1--------------**/

.infoform ul li, .infoform p{
font-size: 15px;
list-style: none;
}

.infoform .time_code{
    position: absolute;
    right: -40px;
}
.infoform ul li{
    position: relative;
    right:40px;
}

.infoform{
    color:#fff;
}

.infoform p{
    margin: 15px 0 10px;
}

.infoform span{
    font-weight:600;
    color: #5fb950;

}


hr{
    width:88%;
    border:0.5px solid #5fb950;
}

.detailsform{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom:-193px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}
.card:hover .detailsform{
    bottom:200px;
}
.detailsform h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}


.detailsform h2 span{
    color:#5fb950;
    font-size:20px;
}
.detailsform p, .detailsform ul li{
    font-size: 12px;
}

.tags span.fantasyform{
    background:#4a0185; 
}

.tags span.romanceform{
    background:#f77a06; 
}

/*----------FORM 02---------*/

.detailsform02{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom:-193px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}
.card:hover .detailsform02{
    bottom:0px;
}
.detailsform02 h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}


.infoform02 ul li, .infoform02 p{
    font-size: 15px;
    list-style: none;
    }
    
    .infoform02 .time_code{
        position: absolute;
        right: 20px;
    }
    
    .infoform02{
        color:#fff;
    }
    
    .infoform02 p{
        margin: 15px 0 10px;
    }
    
    .infoform02 span{
        font-weight:400;
        color: #5fb950;
    
    }
    
    
    .detailsform02 h2 span{
        color:#5fb950;
        font-size:20px;
    }
    .detailsform02 p, .detailsform02 ul li{
        font-size: 12px;
    }
    
    .tags span.fantasyform02{
        background:#4a0185; 
    }
    
    .tags span.romanceform02{
        background:#f77a06; 
    }

/*---------STAGE---------*/
.detailsstage{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom:-192px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}  
.card:hover .detailsstage{
    bottom:0px;
} 

.detailsstage h2{
    color: white;
    margin:0;
    padding:0;
    font-size:20px;
}  
.detailsstage h2 span{
    color:#5fb950;
    font-size:20px;
}

.infostage h1{
    position:relative;
    top:6em;
    left:2em;
    font-size: 24px;
    color:white;
}

/*---------SOON---------*/
.detailssoon{
    position:absolute;
    padding:20px;
    width:100%;
    height:72%;
    bottom: -270px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;
}  

.card:hover .detailssoon{
    bottom:140px;
} 

.detailssoon h2{
    color: white;
    margin:0;
    padding:0;
    font-size:20px;
}
.infosoon h1{
    position:relative;
    top:8em;
    left:0;
    font-size: 20px;
    color:white;
}
