
/*---logo Adlix original---*/

.lite_poster img:first-child{
    width: 5em;
    position: absolute;
    top:0.5em;
    left:0.2em;
    z-index:3;
}


/*--------------*/
/*---CARD---*/
/*--------------*/

.card{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:380px;
    height:460px;
    background: #000;
    overflow: hidden;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    box-shadow:0 5px 10px rgba(0,0,0,0.5);
    transition: 0.5s;
}


/* .card:hover{
transform: scale(1.1);
} */


.card .poster{
    position: relative;
    overflow:hidden;
}

.card .poster::before{
    content:'';
    position: absolute;
    bottom:-365px;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(0deg,#000 50%,transparent);
    transition:0.5s;
    z-index:1;
}

.card:hover .poster::before{
    bottom: 0;  
}

.card .poster img{
    width:100%;
    transition: 0.5s;
}

.card:hover .poster img {
    filter: blur(5px);
    transform: translateY(-50px);
}

.adflix img{
    position: absolute;
    top:15px;
    left:20px;
    width:30%;
}

.card:hover .adflix img{
    filter: blur(5px);
    transform: translateY(-2px);
}


.details_lite, .details2_lite, .details_lite_form, .details_lite_form02,
.details_lite_stage,.details_lite_soon,  .details3_lite, .details4_lite {
    position:absolute;
    padding:20px;
    width:100%;
    bottom:-10px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;

}
.details_lite_soon2{
    position:absolute;
    padding:20px;
    width:100%;
    bottom:-18px;
    left:0;
    box-sizing: border-box;
    transition: 0.5s;
    z-index:2;

}



.details_lite h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
    font-weight: 500;
}


/*-----------CARD 2------------*/


.details2_lite h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}



/*-----------CARD 3------------*/


.details3_lite h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}


/*-----------CARD 4------------*/

.details4_lite h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}



/**------------FORM 1--------------**/



.details_lite_form h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}


/*----------FORM 02---------*/

.details_lite_form02 h2{
    color:#fff;
    margin:0;
    padding:0;
    font-size:20px;
}


/*---------STAGE---------*/

.details_lite_stage h2{
    color: white;
    margin:0;
    padding:0;
    font-size:20px;
}  


/*---------SOON---------*/


.details_lite_soon h2{
    color: white;
    margin:0;
    padding:0;
    font-size:20px;
}

/*---------SOON-2--------*/


.details_lite_soon2 h2{
    color: white;
    margin:0;
    padding:0;
    font-size:20px;
}
